*{
    padding: 0;
    margin: 0;
}
body{
    background: darkgray;
}
.calculator{
    margin: 90px auto;
    width: 368px;
    height: 600px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.75);
}
.header{
    height: 100px;
    padding: 37px 29px 27px 29px;
    background: #212121;
    text-align: right;
}
.account{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #d98192;
    font-size: 18px;
    text-align: right;
}
.account::placeholder{
    color: #d98192;
}
.result{
    width: 100%;
    margin-top: 18px;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    font-size: 60px;
    text-align: right;
}
.result::placeholder{
    color: white;
}
.main{
    height: 400px;
    display: table;
}
.btn{
    height: 92px;
    width: 92px;
    padding: 39px;
    font-size: 22px;
    color: #212121;
}
.btn:nth-child(17){

}
.btn-big{
    width: 184px;
    height: 92px;
    padding: 39px;
    font-size: 22px;
    background-color: #e62f89;
    color: white;

}
.btn-indigo{
    color: white;
    font-size: 22px;
    background-image: none;
    background-color: #9156e1;
    height: 92px;
    width: 92px;
    padding: 39px;
}